@page "/list"

@using BlazorExam.Data
@using Newtonsoft.Json

@inject IJSRuntime jsRuntime



<h1>Saved Items</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var item in dataObj)
            {
                <tr>
                    <td>@item.userId</td>
                    <td>@item.id</td>
                    <td>@item.title</td>
                    <td>@item.completed</td>
           
                </tr>
            } *@
        </tbody>
    </table>


@code {

    protected override async Task OnInitializedAsync()
    {


        await jsRuntime.InvokeVoidAsync("ShowAlert", "asdasd");
    
        Console.WriteLine("hello from list mounted");
    }
}
