@page "/list"

@using BlazorExam.Data
@using Newtonsoft.Json

@inject IJSRuntime jsRuntime


<h1>Saved Items</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (C)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in data)
            {
                <tr class="pointer">
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.UserId</td>
                </tr>
            }
        </tbody>
    </table>


@code {

    List<JsonData> data = new List<JsonData>();

    private async Task FetchSavedData(string type) 
    {
      
        var response = await jsRuntime.InvokeAsync<string>("FetchSavedItems", "Todos");

        Console.WriteLine(response);

        data = JsonConvert.DeserializeObject<List<JsonData>>(response);

          Console.WriteLine(data);


        Console.WriteLine("hello from list mounted");
        StateHasChanged();
      
    } 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

      if (firstRender)
      {

        await FetchSavedData("Todos");

      }
    }
}
