@page "/list"

@using BlazorExam.Data
@using Newtonsoft.Json

@inject IJSRuntime jsRuntime


<h1>Saved Items</h1>


<SavedItems Source="Todos"/>



@code {

    List<JsonData> ApiData = new List<JsonData>();

    private async Task FetchSavedData(string Type) 
    {
      
        var Response = await jsRuntime.InvokeAsync<string>("FetchSavedItems", "Todos");

        Console.WriteLine(Response);

        ApiData = JsonConvert.DeserializeObject<List<JsonData>>(Response);

          Console.WriteLine(ApiData);


        Console.WriteLine("hello from list mounted");
        StateHasChanged();
      
    } 

    protected override async Task OnAfterRenderAsync(bool FirstRender)
    {

      if (FirstRender)
      {

        await FetchSavedData("Todos");

      }
    }
}
