@using BlazorExam.Data
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.Web

@inject IJSRuntime JsRuntime

@* <h3>Saved Items from: @Source</h3> *@


<h5 class="mt-3 mb-3">Click on an item to remove it from from local storage</h5>

@if (Data.Count > 0) {
  <table class="table">
    <thead>
      <tr>
      @foreach(var Item in Data.First().Keys)
      {
        <th>@Item</th>
      }
      </tr>
    </thead>
    <tbody>
      @foreach (var Item in Data)
      {
        <tr class="pointer" @onclick="@(e => DoActionOnClick(Item))">

          @foreach(var Val in Item.Values)
          {
            <td>@Val</td>
          }
        </tr>
      }
    </tbody>
  </table>

} else {
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">No Items Saved</h1>
    </div>
  </div>
}


@code {
  [Parameter] public List<Dictionary<string, string>> Data { get; set; }
  [Parameter] public EventCallback<Dictionary<string, string>> DoAction { get; set; }

  List<ApiUrls> MyApiUrls = ApiService.MyApiUrls;

  private void DoActionOnClick(Dictionary<string, string> Item)
  {
    try
    {
      // wethere to delete or save based on handler of parent
      DoAction.InvokeAsync(Item);
    }
    catch (Exception Exception)
    {
      Console.WriteLine("Exception Hit: {0}", Exception);
    }

  }

}    