@using BlazorExam.Data
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.Web

@inject IJSRuntime jsRuntime

<h3>Saved Items from: @Source</h3>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (C)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Item in ApiData)
        {
            <tr class="pointer">
                <td>@Item.Id</td>
                <td>@Item.Title</td>
                <td>@Item.UserId</td>
            </tr>
        }
    </tbody>
</table>

@code {

    List<JsonData> ApiData = new List<JsonData>();

    [Parameter] public string Source { get; set; }

    private async Task FetchSavedData(string Type) 
    {
    
        var Response = await jsRuntime.InvokeAsync<string>("FetchSavedItems", Type);

        Console.WriteLine(Response);

        ApiData = JsonConvert.DeserializeObject<List<JsonData>>(Response);

        Console.WriteLine(ApiData);


        Console.WriteLine("hello from list mounted");
        StateHasChanged();
    
    } 

    protected override async Task OnAfterRenderAsync(bool FirstRender)
    {

      if (FirstRender)
      {

        await FetchSavedData(Source);

      }
    }
}    