@using BlazorExam.Data
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.Web

@inject IJSRuntime JsRuntime

<h3>Saved Items from: @Source</h3>


<h5 class="mt-3 mb-3">Click on an item to remove it from from local storage</h5>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var Item in ApiData)
    {
      <tr class="pointer" @onclick="@(e => DeleteItem(Item))">
        <td>@Item.Id</td>
        <td>@Item.Title</td>
      </tr>
    }
  </tbody>
</table>

@code {

  [Parameter] public string Source { get; set; }

  List<JsonData> ApiData = new List<JsonData>();

  List<ApiUrls> MyApiUrls = ApiService.MyApiUrls;

  private async Task DeleteItem(JsonData Item)
  {

    try
    {
      await JsRuntime.InvokeVoidAsync("DeleteSavedItem", Source, Item);

      await FetchSavedData(Source);

    }
    catch (Exception exception)
    {
      Console.WriteLine("Exception Hit------------");
      Console.WriteLine(exception);
    }

  }
  private async Task FetchSavedData(string Type) 
  {

    try
    {
      var Response = await JsRuntime.InvokeAsync<string>("FetchSavedItems", Type);

      Console.WriteLine(Response);

      ApiData = JsonConvert.DeserializeObject<List<JsonData>>(Response);

      Console.WriteLine(ApiData);

      Console.WriteLine("hello from list mounted");
      StateHasChanged();
    }
    catch (Exception exception)
    {
      Console.WriteLine("Exception Hit------------");
      Console.WriteLine(exception);
    }
      
  } 

  protected override async Task OnAfterRenderAsync(bool FirstRender)
  {
    try
    {
      if (FirstRender)
      {
        // initial load for loading data from localstorage
        await FetchSavedData(Source);
      }
        
    }
    catch (Exception exception)
    {
      Console.WriteLine("Exception Hit------------");
      Console.WriteLine(exception);
    }

  }
}    