

<div>
    <div>
        <input placeholder="@Placeholder" type="text"  value="@TextInput" @oninput="@ChangeTest"/>
    </div>
    <div class="mt-4">Input: @TextInput</div>
</div>


@code {

    [Parameter] public EventCallback<string> OnTextInput { get; set; }
    [Parameter] public string Placeholder { get; set; }

    private string TextInput { get; set; }

    private void ChangeTest(ChangeEventArgs args)
    {

        TextInput = args.Value.ToString();
        OnTextInput.InvokeAsync(TextInput);
        Console.WriteLine(TextInput);
    }

}
